<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/document_decore.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/document_color.css') }}">
    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
  </head>
  <body>
    <!-- <link rel="stylesheet" href="./style.css" /> -->
    <div>
      <!-- <link href="./index.css" rel="stylesheet" /> -->

      <div class="frame12-layout1-container">
        <div class="frame12-layout1-frame12-layout1">
          <div class="frame12-layout1-container1">
            <div class="frame12-layout1-row">
              <div class="frame12-layout1-maincontent">
                <h6 class="frame12-layout1-text">
                  <span>Practice Advice</span>
                </h6>
                <h2 class="frame12-layout1-text02 h2">
                  <span>See Our Diseases</span>
                </h2>
                <span class="frame12-layout1-text04">
                  <span>Basic knowledge about 42 diseases</span>
                </span>
              </div>
            </div>
          </div>
          <img
            src="static/images/rectangle51015-l4ci-200h.png"
            alt="Rectangle51015"
            class="frame12-layout1-rectangle51"
          />
          <img
            src="static/images/rectangle53016-3pup-200h.png"
            alt="Rectangle53016"
            class="frame12-layout1-rectangle53"
          />
          <img
            src="static/images/rectangle54017-ivwa-200h.png"
            alt="Rectangle54017"
            class="frame12-layout1-rectangle54"
          />
          <img
            src="static/images/rectangle55018-1isg-200h.png"
            alt="Rectangle55018"
            class="frame12-layout1-rectangle55"
          />
          <img
            src="static/images/rectangle56019-nlq-200h.png"
            alt="Rectangle56019"
            class="frame12-layout1-rectangle56"
          />
          <img
            src="static/images/rectangle57020-xjrb-200h.png"
            alt="Rectangle57020"
            class="frame12-layout1-rectangle57"
          />
          <img
            src="static/images/rectangle58021-1qmn-200h.png"
            alt="Rectangle58021"
            class="frame12-layout1-rectangle58"
          />
          <img
            src="static/images/rectangle59022-3vjy-200h.png"
            alt="Rectangle59022"
            class="frame12-layout1-rectangle59"
          />
          <img
            src="static/images/rectangle60023-rvwq-200h.png"
            alt="Rectangle60023"
            class="frame12-layout1-rectangle60"
          />
          <img
            src="static/images/rectangle61024-52a-200h.png"
            alt="Rectangle61024"
            class="frame12-layout1-rectangle61"
          />
          <img
            src="static/images/rectangle62025-xfqd-200h.png"
            alt="Rectangle62025"
            class="frame12-layout1-rectangle62"
          />
          <img
            src="static/images/rectangle63026-kpp2-200h.png"
            alt="Rectangle63026"
            class="frame12-layout1-rectangle63"
          />
          <img
            src="static/images/rectangle64027-tc9-200h.png"
            alt="Rectangle64027"
            class="frame12-layout1-rectangle64"
          />
          <span class="frame12-layout1-text06"><span>Diabetes</span></span>
          <img
            src="static/images/rectangle65028-nfx9-200h.png"
            alt="Rectangle65028"
            class="frame12-layout1-rectangle65"
          />
          <img
            src="static/images/rectangle66029-j3an-200h.png"
            alt="Rectangle66029"
            class="frame12-layout1-rectangle66"
          />
          <img
            src="static/images/rectangle67030-x2t9-200h.png"
            alt="Rectangle67030"
            class="frame12-layout1-rectangle67"
          />
          <img
            src="static/images/rectangle68031-7eo-200h.png"
            alt="Rectangle68031"
            class="frame12-layout1-rectangle68"
          />
          <img
            src="static/images/rectangle69032-jcbl-200h.png"
            alt="Rectangle69032"
            class="frame12-layout1-rectangle69"
          />
          <img
            src="static/images/rectangle70033-usna-200h.png"
            alt="Rectangle70033"
            class="frame12-layout1-rectangle70"
          />
          <img
            src="static/images/rectangle71034-fx9c-200h.png"
            alt="Rectangle71034"
            class="frame12-layout1-rectangle71"
          />
          <img
            src="static/images/rectangle72035-xr6a-200h.png"
            alt="Rectangle72035"
            class="frame12-layout1-rectangle72"
          />
          <form id="myForm" method="POST" action="/document" style="display:none;">
            <input type="hidden" name="page" value="2">
        </form>
        <a >
        <div class="frame12-layout1-asec" onclick="submitForm()">
            <h6 class="frame12-layout1-text08"><span>See More</span></h6></a>
            <img
              src="static/images/iconarrownext038-sg1r.svg"
              alt="iconarrownext038"
              class="frame12-layout1-iconarrownext"
            />
          </div>
          <div class="frame12-layout1-asec1"></div>
          <span class="frame12-layout1-text10">
            <span>
              <span>Drug</span>
              <br />
              <span>Reaction</span>
            </span>
          </span>
          <span class="frame12-layout1-text15">
            <span>
              <span>Osteoar-</span>
              <br />
              <span>thristis</span>
            </span>
          </span>
          <span class="frame12-layout1-text20">
            <span>
              <span>Hyperten-</span>
              <br />
              <span>sion</span>
            </span>
          </span>
          <span class="frame12-layout1-text25">
            <span>
              <span>Peptic ulcear</span>
              <br />
              <span></span>
            </span>
          </span>
          <span class="frame12-layout1-text30"><span>PLIES</span></span>
          <span class="frame12-layout1-text32"><span>Malaria</span></span>
          <span class="frame12-layout1-text34"><span>Hepatitis A</span></span>
          <span class="frame12-layout1-text36">
            <span>
              <span>Hypothy</span>
              <br />
              <span>roidism</span>
            </span>
          </span>
          <span class="frame12-layout1-text41">
            <span>
              <span>Hypogly-</span>
              <br />
              <span>cemia</span>
            </span>
          </span>
          <span class="frame12-layout1-text46">
            <span>
              <span>Common</span>
              <br />
              <span>Cold</span>
            </span>
          </span>
          <span class="frame12-layout1-text51">
            <span>
              <span>Chicken</span>
              <br />
              <span>Pox</span>
            </span>
          </span>
          <span class="frame12-layout1-text56">
            <span>
              <span>Cervical</span>
              <br />
              <span>Spondylosis</span>
            </span>
          </span>
          <span class="frame12-layout1-text61">
            <span>Hyperthyroidism</span>
          </span>
          <span class="frame12-layout1-text63"><span>Acne</span></span>
          <span class="frame12-layout1-text65">
            <span>
              <span>Chronic</span>
              <br />
              <span>cholestasis</span>
            </span>
          </span>
          <span class="frame12-layout1-text70"><span>Psoriasis</span></span>
          <span class="frame12-layout1-text72"><span>GERD</span></span>
          <span class="frame12-layout1-text74"><span>Allergy</span></span>
          <span class="frame12-layout1-text76"><span>BPPV</span></span>
          <h6 class="frame12-layout1-text78"><span>Name of Disease</span></h6>
          <span class="frame12-layout1-text80"><span>Impetigo</span></span>
          <div class="frame12-layout1-asec2">
            <img
              src="static/images/iconarrownext163-ni34.svg"
              alt="iconarrownext163"
              class="frame12-layout1-iconarrownext1"
            />
            <a href="/">
            <h6 class="frame12-layout1-text82"><span>Back</span></h6></a>
          </div>
        </div>
      </div>
    </div>
    <script>
      function submitForm() {
          document.getElementById('myForm').submit();
      }
  </script>
  </body>
</html>
