<!DOCTYPE html>
<html>
<head>
  <title>Get Geolocation</title>
</head>
<body>
  <p id="demo"></p>

  <script>
    function getLocation() {
      if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var latitude = position.coords.latitude;
          var longitude = position.coords.longitude;
          document.getElementById("demo").innerHTML = "Latitude: " + latitude + "<br>Longitude: " + longitude;
        }, function(error) {
          switch(error.code) {
            case error.PERMISSION_DENIED:
              document.getElementById("demo").innerHTML = "User denied the request for geolocation.";
              break;
            case error.POSITION_UNAVAILABLE:
              document.getElementById("demo").innerHTML = "Location information is unavailable.";
              break;
            case error.TIMEOUT:
              document.getElementById("demo").innerHTML = "The request to get user location timed out.";
              break;
            case error.UNKNOWN_ERROR:
              document.getElementById("demo").innerHTML = "An unknown error occurred.";
              break;
          }
        });
      } else {
        document.getElementById("demo").innerHTML = "Geolocation is not supported by this browser.";
      }
    }

    getLocation();
  </script>
</body>
</html>
