.frame11-layout3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame11-layout3-frame11-layout3 {
  width: 100%;
  height: 689px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  background-color: var(--dl-color-default-darkbackgroundcolor);
}
.frame11-layout3-rectangle73 {
  top: 229px;
  left: 343px;
  width: 771px;
  height: 236px;
  position: absolute;
  border-radius: 20px;
}
.frame11-layout3-rectangle74 {
  top: 351px;
  left: 400px;
  width: 298px;
  height: 61px;
  position: absolute;
  border-color: rgba(38, 51, 93, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
}
.frame11-layout3-rectangle74:hover {
  border-color: rgba(0, 123, 255, 1);
  border-width: 5px;
}
.frame11-layout3-rectangle75 {
  top: 351px;
  left: 776px;
  width: 298px;
  height: 61px;
  position: absolute;
  border-color: rgba(38, 51, 93, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
}
.frame11-layout3-rectangle75:hover {
  border-color: rgba(0, 123, 255, 1);
  border-width: 5px;
}

.frame11-layout3-rectangle78 {
  top: 395px;
  left: 655px;
  width: 148px;
  height: 52px;
  position: absolute;
  border-color: rgba(38, 51, 93, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
}

/* .frame11-layout3-rectangle78 {
  top: 395px;
  left: 655px;
  width: 148px;
  height: 52px;
  position: absolute;
  border-color: rgba(38, 51, 93, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  padding: 10px; 
  font-size: 16px; 
  color: #333; 
  background-color: #fff; 
} */
.frame11-layout3-rectangle77 {
  top: 316px;
  left: 522px;
  width: 420px;
  height: 61px;
  position: absolute;
  border-color: rgba(38, 51, 93, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  font-size: 30px;
  font-style: Regular;
  text-align: center;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  text-align: center; /* Center text horizontally */
  line-height: 32px;
}
.frame11-layout3-rectangle78:hover {
  border-color: rgba(0, 123, 255, 1);
  border-width: 5px;
}
.frame11-layout3-container1 {
  gap: 80px;
  top: -72px;
  left: 216px;
  width: 1008px;
  height: 323px;
  display: flex;
  padding: 160px 0;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.frame11-layout3-row {
  width: 692px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.frame11-layout3-maincontent {
  gap: 10px;
  width: 691px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.frame11-layout3-text {
  color: var(--dl-color-default-primarytextcolor);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-layout3-text02 {
  color: var(--dl-color-default-lighttextcolor);
  height: auto;
  text-align: center;
  line-height: 50px;
}
.frame11-layout3-asec {
  gap: 10px;
  top: 586px;
  left: 709px;
  width: 65px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
}
.frame11-layout3-iconarrownext {
  width: 9px;
  height: 16px;
}
.frame11-layout3-text04 {
  color: var(--dl-color-default-primarytextcolor);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-layout3-text06 {
  top: 260px;
  left: 499px;
  color: rgba(89, 62, 29, 1);
  width: 466px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame11-layout3-text15 {
  top: 402px;
  left: 644px;
  color: rgba(89, 62, 29, 1);
  width: 169px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: center;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-layout3-text08 {
  top: 363px;
  left: 465px;
  color: rgba(89, 62, 29, 1);
  width: 169px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: center;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-layout3-text10 {
  top: 363px;
  left: 840px;
  color: rgba(89, 62, 29, 1);
  width: 169px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: center;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-layout3-rectangle76 {
  top: 235px;
  left: 1128px;
  width: 248px;
  height: 52px;
  position: absolute;
}
